* {
    /* border: 1px solid red; */
    box-sizing: border-box;
}

html {
    background-color: rgb(252, 252, 252);
    font-family: 'Merriweather', serif;
}

body {
    background-color: #d2b48c1a;
}

header h1 {
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
    background-color: #2d3a45;
    color: white;
    text-transform: uppercase;
    font-size: 1.15em;
}

header h3,
header p {
    text-align: center;
}

header h3 {
    font-weight: bold;
    margin: 0;
    padding: 25px 0 10px;
}

header p {
    width: 90%;
    margin: 0 auto;
    color: darkgrey;
    padding-bottom: 35px;
    font-size: .9em;
}

main {
    width: 90%;
    max-width: 500px;
    margin: auto;
    border-top: 4px solid black;
    padding-top: 3px;
}

main section {
    margin-top: 2px;
}

form fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.flex-top,
.flex-bottom {
    display: flex;
    flex-direction: column;
}

form fieldset legend {
    border-top: 2.5px solid black;
    padding: 25px 0 7px;
    width: 100%;
    font-weight: bold;
    font-size: 1.12em;
}

.flex,
.flex-check,
.flex-radio,
.flex-topics {
    display: flex;
}

.flex,
.flex-topics {
    flex-direction: column;
}

.flex-check,
.flex-radio {
    flex-direction: row;
    padding-bottom: 15px;
}

form fieldset label,
form fieldset:nth-of-type(2) p {
    color: #848484;
}

form fieldset label {
    display: block;
    padding-bottom: 10px;
    padding-top: 16px;
    font-size: .9em;
}

form fieldset input,
form fieldset select,
textarea,
input[type="submit"] {
    outline-color: #1d5585;
}

form fieldset input,
form fieldset select,
textarea {
    width: 100%;
    padding: 14.5px 15px;
    border: none;
    background-color: #6f6f6f1a;
    border-radius: 4px;
}

form fieldset input:focus,
form fieldset select:focus,
textarea:focus {
    background-color: #fff;
    transition: background-color 1s;
}

form fieldset select {
    padding-left: 10px;
    font-size: .85em;
}

form fieldset input::placeholder,
form fieldset textarea::placeholder,
form fieldset select,
select option[value=""],
footer {
    color: darkgrey;
}

select option {
    color: black;
}

form fieldset input::placeholder,
footer {
    font-style: italic;
}

form fieldset input::placeholder {
    font-size: .7em;
    text-align: right;
    padding-right: 5px;
}

form fieldset div:last-child input {
    width: 50%;
    max-width: 200px;
}

form fieldset:nth-of-type(1) {
    padding-bottom: 30px;
}

form fieldset:nth-of-type(2) label {
    display: inline-block;
    width: calc(100% - 24px);
    padding: 0;
}

form fieldset:nth-of-type(2) div:last-child label {
    padding: 15px 0;
}

input[type="checkbox"],
input[type="radio"] {
    width: 12px;
    vertical-align: middle;
    margin-right: 10px;
}

form fieldset:nth-of-type(2) label,
form fieldset:nth-of-type(2) p,
form fieldset:nth-of-type(2) label[for="other-topics"] {
    font-size: .85em;
}

form fieldset:nth-of-type(2) label[for="other-topics"] {
    padding-top: 18px;
}

textarea {
    height: 93px;
    resize: none;
    margin-bottom: 25px;
}

input[type="submit"] {
    width: 100%;
    padding: 17px 0;
    font-size: 1.15em;
    background-color: #50c0b5;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}

footer {
    text-align: center;
    padding-top: 15px;
}

footer p {
    margin: 0;
    padding: 10px 0 25px;
    font-size: .8em;
}

/*--  768px wide screen layout  --*/

@media screen and (min-width: 768px) {

    header h1 {
        padding: 15px 0;
        font-weight: normal;
        font-size: 1em;
        margin-bottom: 25px;
    }

    header p {
        font-size: .75em;
        padding-bottom: 38px;
    }

    main {
        width: 65%;
        max-width: 600px;
    }

    form fieldset legend {
        padding: 35px 0 20px;
    }

    .flex {
        flex-direction: row;
    }

    form fieldset label {
        display: inline-block;
        width: 120px;
        font-size: .75em;
    }

    form fieldset input,
    form fieldset select {
        width: calc(100% - 124px);
        margin-bottom: 15px;
    }

    form fieldset div:last-child input {
        width: 25%;
    }

    form fieldset:nth-of-type(2) p:first-child {
        margin: 0 0 22px;
    }

    input[type="checkbox"],
    input[type="radio"] {
        margin: 0 10px 0 0;
    }

    form fieldset:nth-of-type(2) label {
        width: calc(100% - 29px);
    }

    input[type="submit"] {
        font-weight: normal;
    }

    footer {
        padding-top: 22px;
    }

}