* {
    /* border: 1px solid red; */
}

html {
    background-color: rgb(252, 252, 252);
    font-family: 'Merriweather', serif;
}

header h1 {
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
    background-color: #2d3a45;
    color: white;
    text-transform: uppercase;
    font-size: 1.15em;
}

header h3,
header p {
    text-align: center;
}

header h3 {
    font-weight: bold;
    font-size: 1.35em;
    margin: 0;
    padding: 25px 0 10px;
}

header p {
    width: 90%;
    margin: 0 auto;
    color: darkgrey;
    padding-bottom: 35px;
    border-bottom: 4px solid black;
    font-size: 1.05em;
}

main {
    width: 90%;
    margin: auto;
}

main section {
    margin-top: 2px;
}

form fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

form fieldset legend {
    border-top: 2.5px solid black;
    padding: 22px 0 4px;
    width: 100%;
    font-weight: bold;
    font-size: 1.35em;
}

form fieldset label {
    display: block;
    padding-bottom: 10px;
    color: #848484;
    padding-top: 16px;
    font-size: 1.05em;
}

form fieldset input,
form fieldset select,
textarea {
    width: 100%;
    padding: 14.5px 0;
    border: none;
    background-color: #ebebeb;
    border-radius: 4px;
}

form fieldset input::placeholder,
select option[value=""],
form fieldset:nth-of-type(2) p,
footer {
    color: darkgrey;
}

form fieldset input::placeholder,
footer {
    font-style: italic;
}

form fieldset input::placeholder {
    font-size: .8em;
    padding-right: 20px;
    text-align: right;
}

form fieldset:nth-of-type(1) input:last-child {
    width: 50%;
}

form fieldset:nth-of-type(1) {
    padding-bottom: 30px;
}

form fieldset:nth-of-type(2) label {
    display: inline-block;
    width: 250px;
    padding-top: 0;
    font-size: .95em;
}

input[type="checkbox"],
input[type="radio"] {
    width: 20px;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

form fieldset:nth-of-type(2) label[for="other-topics"] {
    padding-top: 18px;
}

textarea {
    height: 65px;
    resize: none;
    margin-bottom: 25px;
}

input[type="submit"] {
    width: 100%;
    padding: 17px 0;
    font-size: 1.25em;
    background-color: #50c0b5;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}

footer {
    text-align: center;
    padding-top: 15px;
}

footer p {
    margin: 0;
    padding: 10px 0 15px;
}