html {
    background-color: rgb(252, 252, 252);
    box-sizing: border-box;
}

header h1 {
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
    background-color: #2d3a45;
    color: white;
    text-transform: uppercase;
    font-size: 1.15em;
}

header h3,
header p {
    text-align: center;
}

header h3 {
    font-weight: bold;
    font-size: 1.35em;
    margin: 0;
    padding: 25px 0 10px;
}

header p {
    width: 90%;
    margin: 0 auto;
    color: darkgrey;
    padding-bottom: 35px;
    border-bottom: 4px solid black;
    font-size: 1.05em;
}

main {
    width: 90%;
    margin: auto;
}

main section {
    margin-top: 2px;
}

form fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

form fieldset legend {
    border-top: 2.5px solid black;
    padding: 22px 0 4px;
    width: 100%;
    font-weight: bold;
    font-size: 1.35em;
}

form fieldset label {
    display: block;
    padding-bottom: 8px;
    color: #848484;
    padding-top: 16px;
    font-size: 1.05em;
}

form fieldset input,
form fieldset select {
    width: 100%;
    padding: 12.5px 0;
    border: none;
    background-color: #ebebeb;
    border-radius: 4px;
}

form fieldset input {
    text-align: right;
}

form fieldset input::placeholder,
form fieldset select option:first-child {
    color: darkgrey;
    font-style: italic;
    font-size: .8em;
    padding-right: 20px;
}